<!-- intro section -->
<section id="intro" #intro>
    <div class="row">
        <div class=" col-md-12  col-sm-12 title">
            <div id="main">
                <ul>
                    <ng-container *ngFor="let item of address index as i;">
                        <li *ngIf="i <= 9" (click)="toUrl(i)" (mouseover)="keySound()">{{ item.name }}</li>
                    </ng-container>
                </ul>
                <ul>
                    <ng-container *ngFor="let item of address index as i;">
                        <li *ngIf="i > 9 && i <=18" (click)="toUrl(i)" (mouseover)="keySound()">{{ item.name }}</li>
                    </ng-container>
                </ul>
                <ul>
                    <ng-container *ngFor="let item of address index as i;">
                        <li *ngIf="i > 18" (click)="toUrl(i)" (mouseover)="keySound()">{{ item.name }}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <audio src="./assets/sound/key.wav" id="audio"></audio>
</section>


