<div class="music">
    <div id="bz_music" class="bz_music">
        <div class="music_left">
            <div class="music_info">
                <div class="center_list">
                    <ul>
                        <li class="list_current">
                            <a href="javascript:;">
                                <span id="list_title" class="list_title">{{music_list[play_index].title}}</span>
                            </a>
                            <a href="javascript:;">
                                <span id="list_singer" class="list_singer">{{music_list[play_index].artist}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="music_controls">
                <div id="time" class="time">{{time}}</div>
                <div class="play_controls">
                    <a id="btnBackward" class="btn_back fa fa-backward" (click)="backword()"></a>
                    <a id="btnPlay" class="btn_play fa" [ngClass]="{'fa-play':flag,'fa-pause':!flag}" (click)="clickBtnPlay()"></a>
                    <a id="btnForward" class="btn_forward fa fa-forward" (click)="forward()"></a>
                </div>
            </div>
        </div>
        <div class="music_center">

        </div>
        <div class="music_right">
            <div id="play_list_area" class="play_list_area">
                <ul id="play_list" class="play_list">
                    <li *ngFor="let item of music_list;let i = index">
                        <div style="height:100%" (click)="playMusic(i)">
                            <span class="list_title">{{ item.title }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="music_bottom">
            <canvas id="canvas" width="800" height="250"></canvas>
        </div>
    </div>
</div>