@import url("../../assets/css/font-awesome.min.css");

a {
    text-decoration: none;
    color: #666;
}
a:hover {
    color: #ddd;
}
ul li {
    list-style: none;
}
.music_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 360px;
}
.music_center {
    position: absolute;
    left: 400px;
    top: 0;
    width: 550px;
    height: 360px;
}
.music_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 950px;
    height: 300px;
}
.music_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 710px;
}

.bz_music {
    margin: 50px auto;
    width: 1200px;
    height: 660px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background: #222;
    position: relative;
}
.bz_music .music_info {
    width: 400px;
    height: 150px;
    background: #000;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.music_info .right_btn {
    width: 30px;
    height: 100px;
    color: #666;
    position: absolute;
    top: 30%;
    right: 20px;
}
.music_info .center_list {
    width: 400px;
    height: 150px;
    position: relative;
}
.music_info .center_list ul {
    position: absolute;
    top: 35%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.music_info .center_list .list_title {
    font-size: 30px;
    display: block;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
}
.music_info .center_list .list_singer {
    display: block;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}
.music_info .process {
    width: 100%;
    height: 5px;
    background: #000;
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.music_info .process .process_slide {
    width: 0;
    height: 5px;
    display: block;
    background: #ed553b;
}
.bz_music .music_controls {
    width: 400px;
    height: 210px;
    color: #666;
    text-align: center;
}
.music_controls .time {
    width: 100%;
    font-size: 52px;
    padding: 15px 0 20px;
}
.music_controls .play_controls {
    width: 100%;
    font-size: 40px;
    padding: 10px 0;
}
.music_controls .play_controls [class^="btn_"] {
    padding: 0 30px;
}
.music_controls .volume {
    width: 300px;
    height: 2px;
    background: #fff;
    margin: 10px auto;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}
.bz_music .play_list_area {
    width: 250px;
    height: 650px;
    border-radius: 10px;
    background: #222;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}
.bz_music .play_list {
    padding: 0;
}
.bz_music .play_list .current {
    background: #ddd;
}
.bz_music .play_list li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #ddd;
    cursor: pointer;
    font-size: 14px;
}
.bz_music .play_list .current {
    background: #333;
}
.bz_music .play_list .list_title {
    margin-left: 10px;
    float: left;
}
.bz_music .play_list .list_time {
    margin-right: 10px;
    float: right;
}
